<div class="container">

    <button class="btn btn-success" routerLink="/addOffre">Add</button>
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Lieu</th>
            <th>Date</th>
            <th>Options</th>
        </tr>
        <tr *ngFor="let o of offres">
            <td>{{o.id}}</td>
            <td>{{o.title}}</td>
            <td>{{o.lieu}}</td>
            <td>{{o.date}}</td>
            <td>
                <button class="btn btn-danger" (click)="destroy(o.id)">Delete</button>
                <button class="btn btn-primary" routerLink="/updateOffre/{{o.id}}" >Update</button>

            </td>
        </tr>
    </table>
</div>